/* -----------------------General style----------------------- */
body{
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Montserrat", sans-serif;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -----------------------//General style//----------------------- */

/* -----------------------navbar----------------------- */
.navbar-brand{
    line-height: 25.7143px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    padding-right: 5px;
    text-decoration: none rgb(255, 255, 255);
}
.nav-item a{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none rgb(255, 255, 255);
}
/* -----------------------//navbar//----------------------- */
/* -----------------------Header----------------------- */

.home{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.6)), url(../imgs/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home h1{
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    line-height: 55px;
    text-decoration: none rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    
}
.home p{
    font-size: 44px;
    font-weight: 200;
    line-height: 52.8px;
    color: #fff;
}
.home p .typed-text {
  color: #EEFCFC;      
  font-size: 44px;     
  font-weight: 600;
  display: inline-block;
  line-height: 1;
}
.home .typed-text::after {
    content:"|" ;
    animation: typing 10s infinite;
}
.icon-circle{
    text-decoration: none;
    display: inline-flex;         
  align-items: center;          
  justify-content: center;
    width: 40px;                 
  height: 40px;                 
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
@keyframes typing {
    /* Larry Daniels*/
    0%    { content: "|"; }
    1.61% { content: "L|"; }
    3.22% { content: "La|"; }
    4.83% { content: "Lar|"; }
    6.44% { content: "Larr|"; }
    8.05% { content: "Larry|"; }
    9.66% { content: "Larry |"; }
    11.27% { content: "Larry D|"; }
    12.88% { content: "Larry Da|"; }
    14.49% { content: "Larry Dan|"; }
    16.10% { content: "Larry Dani|"; }
    17.71% { content: "Larry Danie|"; }
    19.32% { content: "Larry Daniel|"; }
    20.93% { content: "Larry Daniels|"; }

    /* //Larry Daniels// */
    22.54% { content: "Larry Daniel|"; }
    24.15% { content: "Larry Danie|"; }
    25.76% { content: "Larry Dani|"; }
    27.37% { content: "Larry Dan|"; }
    28.98% { content: "Larry Da|"; }
    30.59% { content: "Larry D|"; }
    32.20% { content: "Larry |"; }
    33.81% { content: "Larry|"; }
    35.42% { content: "Larr|"; }
    37.03% { content: "Lar|"; }
    38.64% { content: "La|"; }
    40.25% { content: "L|"; }
    41.86% { content: "|"; }

    /* Developer */
    43.47% { content: "D|"; }
    45.08% { content: "De|"; }
    46.69% { content: "Dev|"; }
    48.30% { content: "Deve|"; }
    49.91% { content: "Devel|"; }
    51.52% { content: "Develo|"; }
    53.13% { content: "Develop|"; }
    54.74% { content: "Develope|"; }
    56.35% { content: "Developer|"; }

    /* Developer */
    57.96% { content: "Develope|"; }
    59.57% { content: "Develop|"; }
    61.18% { content: "Develo|"; }
    62.79% { content: "Devel|"; }
    64.40% { content: "Deve|"; }
    66.01% { content: "Dev|"; }
    67.62% { content: "De|"; }
    69.23% { content: "D|"; }
    70.84% { content: "|"; }

    /* Designer */
    72.45% { content: "D|"; }
    74.06% { content: "De|"; }
    75.67% { content: "Des|"; }
    77.28% { content: "Desi|"; }
    78.89% { content: "Desig|"; }
    80.50% { content: "Design|"; }
    82.11% { content: "Designe|"; }
    83.72% { content: "Designer|"; }

    /* Designer */
    85.33% { content: "Designe|"; }
    86.94% { content: "Design|"; }
    88.55% { content: "Desig|"; }
    90.16% { content: "Desi|"; }
    91.77% { content: "Des|"; }
    93.38% { content: "De|"; }
    94.99% { content: "D|"; }
    96.60% { content: "|"; }

    /* */
    100% { content: "|"; }
}



/* -----------------------//Header//----------------------- */
/* -----------------------About----------------------- */
.about .container .inner .title{
    font-weight: 800px;
    line-height: 33px;
    font-size: 30px;
    text-decoration: none rgb(52, 52, 52);
}
  /* شكل progress bar */
  .custom-progress {
    line-height: 14.3px;
    background-color: #f1f1f1; 
    border-radius: 20px;
   

  }
  .progress-bar{
 font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .custom-progress .custom-progress-bar {
    background-color: #000; 
    color: #fff; 
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    height: 100%;
    transition: width 0.6s ease; 
  }

/* -----------------------//About//----------------------- */

